body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  text-align: left;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}
