.about-us {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  
  img {
    object-fit: cover;
    background: #cec6c1;
  }
  
  h4 {
      margin-top: 10px;
  }

/* section{
  background-color: pink;
  width: 100%;
} */